<a href="https://colab.research.google.com/github/Ekaterina-Tolstova/HomeWorks/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Тема “Вычисления с помощью Numpy”
Задание 1

In [5]:
import numpy as np
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
mean_a = np.array([a.mean(axis=0)])
print(mean_a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
[[2.  8.4]]

Задание 2

In [48]:
print(a[0:, :1])
# print(a[0:, :1] + mean_a[0, 0])
print(a[0:, 1:])
# print(a[0:, 1:] + mean_a[0, 1])
#print(a[0:, :1] + mean_a[0, 0])
a_centered = np.concatenate(([a[0:, :1] + mean_a[0, 0], a[0:, 1:] + mean_a[0, 1]]), axis=1)
print(a_centered)

[[1]
 [2]
 [3]
 [3]
 [1]]
[[ 6]
 [ 8]
 [11]
 [10]
 [ 7]]
[[ 3.  14.4]
 [ 4.  16.4]
 [ 5.  19.4]
 [ 5.  18.4]
 [ 3.  15.4]]

Задание 3

In [61]:
# li1 = a_centered[0:, :1].flatten()
# print(li1)
# li2 = a_centered[0:, 1:].flatten()
# print(li2)
# a_centered_sp = li1 @ li2
a_centered_sp = a_centered[0:, :1].flatten() @ a_centered[0:, 1:].flatten()
print(a_centered_sp)
cov = a_centered_sp / (len(a) - 1)
print(cov)

343.99999999999994
85.99999999999999

In [ ]:
a = {[author_id]}



authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].